{% extends "layout.twig" %}

{% block pageheader %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center text-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h2>Créer Tag</h2>
            <hr>
            <div class="form-floating my-2">
                <a href="/admin" class="btn btn-primary text-uppercase">Retour</a>
            </div>
            <form id="contactForm" data-sb-form-api-token="API_TOKEN" method="POST">
                <div class="form-floating">
                    <input class="form-control" id="tagName" name="tagName" type="text" placeholder="Enter your Tag..." data-sb-validations="required" />
                    {% if errors.tag is defined %}
                        <label for="tagName" class="col-form-label text-danger">{{ errors.tag }}</label>
                    {% else %}
                        <label for="tagName">Nom de Tag</label>
                    {% endif %}
                    <!-- Button vers Modal -->
                    <br>
                    <button class="btn btn-primary text-uppercase" id="submitButton" data-bs-toggle="modal" data-bs-target="#modalTag" type="button">Valider</button>
                    <!-- Modal -->
                    <div class="modal fade" id="modalTag" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel">Création du Tag</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Êtes-vous sur de vouloir créer ce tag ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                                    <button type="submit" class="btn btn-primary">Oui</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}