{% extends "layout.twig" %}

{% block pageheader %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center text-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h2>Créer Tag</h2>
            <hr>
            <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                <div class="form-floating">
                    <input class="form-control" id="title" type="text" placeholder="Enter your Tag..." data-sb-validations="required" />
                    <label for="tag">Nom de Tag</label>
                    <div class="invalid-feedback" data-sb-feedback="tag:required">Un titre est requis.</div>
                </div>
                <br />
                <!-- Submit success content-->
                <!---->
                <!-- This is what your users will see when the form-->
                <!-- has successfully submitted-->
                <div class="d-none" id="submitSuccesscontent">
                    <div class="text-center mb-3">
                        <div class="fw-bolder">Form submission successful!</div>
                        To activate this form, sign up at
                        <br />
                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                    </div>
                </div>
                <!-- Submit error content-->
                <!---->
                <!-- This is what your users will see when there is-->
                <!-- an error submitting the form-->
                <div class="d-none" id="submitErrorcontent"><div class="text-center text-danger mb-3">Error sending content!</div></div>
                <!-- Submit Button-->
                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}