{% extends "layout.twig" %}

{% block pageheader %}

<header class="masthead" style="background-image: url('../../../assets/img/post-bg.jpg')">
    <div class=" position-relative  row">
                    <div class=" col col-xs-12">
                        <div class='page-heading container'>
                            <h2>Connexion</h2>

                            <!-- action inutile si vide -->
                            <!-- voir l'utilité de API_TOKEN, si inutile, supprimer -->
                            <!-- Supprimer tous les commentaires inutiles -->
                            <form class="my-5" action="" method="POST" data-sb-form-api-token="API_TOKEN">
                                <div class="form-floating my-2">
                                    <input class="form-control" id="mail-connexion" name="mail-connexion" type="text" placeholder="Votre e-mail" data-sb-validations="required" />
                                    <label for="email">E-mail</label>
                                    <div class="invalid-feedback" data-sb-feedback="email:required">E-mail requis.</div>
                                </div>
                                <div class="form-floating my-2">
                                    <input class="form-control" id="password-connexion" name="password-connexion" type="password" placeholder="Votre mot de passe" data-sb-validations="required" />
                                    <label for="mdp">Mot de passe</label>
                                    <div class="invalid-feedback" data-sb-feedback="mdp:required">Mot de passe requis.</div>
                                </div>
                                <input type="hidden" id="connexion-form" name="connexion-form" value="1">
                                <input class="btn btn-primary text-uppercase my-2" type="submit" value="Connexion">
                                <br>
                                <a href="" style="color: white;"><font size="-0.7">Mot de passe oublié</font></a>
                            </form>
                        </div>
                    </div>
                    <div class="col col-xs-12" >
                        <div class='page-heading container'>
                            <h2>Inscription</h2>
                            <form class=" my-5" action="" method="POST" data-sb-form-api-token="API_TOKEN">
                                <div class="form-floating my-2">
                                    <input class="form-control" id="firstname-register" name="firstname-register" type="text" placeholder="Votre nom" data-sb-validations="required" />
                                    <label for="name">Nom</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">Nom requis.</div>
                                </div>
                                <div class="form-floating my-2">
                                    <input class="form-control" id="lastname-register" name="lastname-register" type="text" placeholder="Votre prénom" data-sb-validations="required" />
                                    <label for="name">Prénom</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">Prénom requis.</div>
                                </div>
                                <div class="form-floating my-2">
                                    <input class="form-control" id="alias-register" name="alias-register" type="text" placeholder="Votre pseudo" data-sb-validations="required" />
                                    <label for="name">Pseudo</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">Pseudo requis.</div>
                                </div>
                                <div class="form-floating my-2">
                                    <input class="form-control" id="mail-register" name="mail-register" type="email" placeholder="Votre e-mail" data-sb-validations="required" />
                                    <label for="name">E-mail</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">E-mail requis.</div>
                                </div>
                                <div class="form-floating my-2">
                                    <input class="form-control" id="password-register" name="password-register" type="password" placeholder="Votre mot de passe" data-sb-validations="required" />
                                    <label for="name">Mot de passe</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">Mot de passe requis.</div>
                                </div>
                                <input type="hidden" id="register-form" name="register-form" value="1">
                                <input class="btn btn-primary text-uppercase" type="submit" value="Connexion">
                                <br>
                            </form>
                        </div>
                    </div>
        <div>
            {% if user.firstname != 0 %}
            <p>TEST{{ user.firstname }}</p>
            {% endif %}
        </div>
        <!--<div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Connexion</h1>
                    <form action="" method="post">
                        <div class="col-12">
                            <input type="email" id="mail" name="user_mail" placeholder="E-mail">
                        </div>
                        <div class="col-12">
                            <input type="password" id="password" name="user_psw" placeholder="Mot de passe">
                        </div>
                        <input type="submit" value="Connexion">
                        <br>
                        <a href=""><font size="-0.7">Mot de passe oublié</font></a>
                    </form>
                </div>
            </div>
        </div>-->
        </table>
    </div>
</header>
{% endblock %}

{% block content %}
<!--<div style="background-image: url('../../../assets/img/contact-bg.jpg')">
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h2 >Qui suis-je ?</h2>
            <p>Je suis Dylan SARDI, développeur web, et actuellement en formation PHP/Symfony avec OpenClassrooms.</p>
            <p>J'ai effectué un BTS Service Informatique aux Organisations option Développement puis une Licence Professionnelle Métier de l'Informatique : Développement, Conception et Tests Logiciels.</p>
            <p>Vous pouvez retrouver mon parcours et mes compétences ci-dessous.</p>
            <div style="text-align: center;">
                <a href="../../../CV-DYLAN-SARDI.pdf"><button type="button" class="btn btn-dark">CV</button></a>
            </div>
        </div>
    </div>
</div>
</div>-->
<hr class="my-4">
{% endblock %}