{% extends "layout.twig" %}

{% block pageheader %}
<header class="masthead" style="background-image: url('../../../assets/img/contact-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Contact</h1>
                    <span class="subheading">Des questions ? Je vous réponds.</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
    <!-- Modal (message envoyé ou erreur) -->
    <div id="myModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Message envoyé</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Votre message à été envoyé avec succès, vous serez recontacté dans les plus brefs délais.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>Besoin d'informations complémentaires ? Veuillez remplir le formulaire ci-dessous et je vous répondrais dans les plus brefs délais.</p>
                    <div class="my-5">
                        <form id="contactForm" method="POST">
                            <div class="form-floating">
                                <input class="form-control" id="name" type="text" name="name" placeholder="Enter your name..."/>
                                <label for="name">Nom</label>
                                <div class="invalid-feedback">A name is required.</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="email" type="email" name="email" placeholder="Enter your email..."/>
                                <label for="email">Email</label>
                                <div class="invalid-feedback">An email is required.</div>
                                <div class="invalid-feedback">Email is not valid.</div>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" id="message" name="message" placeholder="Enter your message here..." style="height: 12rem"></textarea>
                                <label for="message">Message</label>
                                <div class="invalid-feedback">A message is required.</div>
                            </div>
                            <br />
                            <!-- Submit Button-->
                            <button class="btn btn-primary text-uppercase" id="submitButton" name="submit" type="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
    
